<% if user_signed_in? %>
  <%= link_to "Upload Pictures", new_user_picture_path(current_user), class: "btn btn-default" %>
<% end %>

<h1>Your pictures!</h1>

<% @pictures.each do |picture| %>
  <%= link_to image_tag(picture.picture.url(:medium)), user_picture_path(current_user, picture) %>
  <%#= image_tag picture.picture.url(:medium) %>
<% end %>
