<% if user_signed_in? %>
  <%= link_to "Upload Pictures", new_user_picture_path(current_user), class: "btn btn-default" %>
  <%= link_to "Pictures I'm tagged in", user_pictures_path(tagged: true) %>
<% end %>

<h1>Your pictures!</h1>

<% @pictures.each do |picture| %>
  <%= link_to image_tag(picture.picture.url(:medium)), user_picture_path(picture) %>
<% end %>
